{{#>layout}}
        <!-- navbar -->
            <div id="mobile-menu-list" class="mobile-menu-list mobile-menu-hide">
                <a href="index.html" >Home</a>
            <a href="blog.html">Blog</a>
            <a href="contact.html">Contact me</a>
            <a href="testimonials.html" >testimonials</a>
            </div>

        <!-- form -->

        <form class="contact-form" onsubmit="submitForm(event)">
            <div class="form-field">
                <label for="name">Name</label>
                <input id="name" type="text"required>
            </div>
            <div class="form-field">
                <label for="email">Email</label>
                <input id="email" type="text" required >
            </div>
            <div class="form-field">
                <label for="subjek">subjek</label>
                <input id="subjek" type="text"required>
            </div>
            <div class="form-field">
                <label for="skill">Skill</label>
            <select id="skill" required>
                <option value="">select skill</option>
                <option value="Frontend">Frontend</option>
                <option value="Backend">Backend</option>
            </select>
            </div>
            <div class="form-field">
                <label for="massage">massage</label>
            <textarea id="massage"required></textarea>
            </div>
            <button type="submit">Submit</button>
            
        </form>
{{/layout}}