{{#>layout currentPage="Home"}}  

        <!-- <div id="mobile-menu-list" class="mobile-menu-list mobile-menu-hide">
            <a href="index.html" >Home</a>
            <a href="blog.html">Blog</a>
            <a href="contact.html">Contact me</a>
            <a href="testimonials.html" >testimonials</a>
        </div> -->

        <main class="main-content">
        <!-- profile card -->
        <section class="card-section">
            <div class="profile-card" >
    
                <img style="
                width: 100%; 
                border-radius: 15px;"
                src="/img/gambar.jpg" alt="gambar">
    
                <h1>hallo dumbways</h1>
    
                <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
    
                <table class="table table-striped table-hover">
                    <tr>
                        <th>experiance</th>
                        <th>year</th>
                    </tr>
                    <tr>
                        <td>develop personal web </td>
                        <td>2025</td>
                    </tr>
                </table>
            </div>
        </section>

        <!-- introduction -->
        <section id="introduction">
            
            <div id="what-i-do">
                <h1>What i do</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, ipsam maiores? Amet quia facere reprehenderit modi. Asperiores, dicta? Voluptatum tenetur dignissimos, hic quidem neque qui iure molestias dolores dolorum deserunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda quidem cumque reiciendis aliquid officiis fuga ut temporibus cupiditate vero? Iste eligendi beatae non maxime veniam. Temporibus, autem optio. Aspernatur, vel.</p>
            </div>

            <!-- technologies -->
            <div id="technologies">
            <div id="frontend">
                <a href=""><img src="/img/js.png" alt="logo"></a>
                <h2>Frontend Developer</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam consequatur quos suscipit earum inventore sunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sunt repudiandae saepe tempora, inventore ratione libero omnis ipsam voluptatum eos beatae reiciendis. Eligendi, deleniti? Et maxime molestias recusandae expedita aliquid?</p>
            </div>
            <div id="version-control">
                <a href=""><img src="/img/git.png" alt="logo"></a>
                <h2>Version Control</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam consequatur quos suscipit earum inventore sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis culpa soluta porro ipsam aperiam corporis illum eaque possimus odit, molestiae qui saepe sed eos dolorum facilis quae? Commodi, aspernatur molestias.</p>
            </div>
            <div id="deploy">
                <a href=""><img src="/img/deploy.png" alt="logo"></a>
                <h2>Automated Deployment</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam consequatur quos suscipit earum inventore sunt. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem temporibus adipisci explicabo quaerat ex beatae commodi harum quod ratione placeat ea ducimus alias quos obcaecati, tempore reprehenderit quis. Reprehenderit, temporibus!</p>
            </div>
            </div>
   
            <!-- social -->
             <div id="socials">
                <h2>Find Me On</h2>
                <div>
                    <a href="">
                        <img src="/img/facebook.png" alt="">
                    </a>
                    <a href="">
                        <img src="/img/twitter.png" alt="">
                    </a>
                    <a href="">
                        <img src="/img/instagram.png" alt="">
                    </a>
                    <a href="">
                        <img src="/img/mail.png" alt="">
                    </a>
                    <a href="">
                        <img src="/img/whatsapp.png" alt="">
                    </a>
                </div>
             </div>
            </section>
        </main> 

{{/layout}}
       